body{
	background-color: #232323;
	margin: 0;
	font-family: "Arial", "Avenir";
}

.square {
	background-color: blue;
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 15%;
	transition: background-color 0.7s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	line-height: 1.1;
}


#stripe{
	height: 30px;
	color: black;
	background-color: white;
	text-align: center;
}

.selected{
	background-color: steelblue;
	color: white;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#message {
	width: 20%;
	display: inline-block;
}

button:hover {
	background-color: steelblue;
	color: white;	
}